.light-pink {
    background-color: #fff5f9;
}

.pastel-crimson {
    background-color: #f39cab;
}

.dark-blue {
    background-color: #0c1765;
}

.dark-blue-text {
    color: #0c1765;
}

.dark-blue-button {
    height: 45px;
    --bs-btn-bg: #0c1765;
--bs-btn-hover-color: white;
    --bs-btn-color: white;
    --bs-btn-border-color: #0c1765;
    --bs-btn-hover-border-color: #313d9d;

    --bs-btn-hover-bg: #313d9d;
}

.light-pink-menu-button {
    --bs-btn-color: #0c1765;
    --bs-btn-bg: #fff5f9;
    --bs-btn-border-color: #0c1765;
    --bs-btn-hover-bg: #0c1765;
    --bs-btn-hover-color: white;
}

.light-pink-menu-button.clicked {
    --bs-btn-color: #0c1765;
    --bs-btn-bg: white;
    /* --bs-btn-border-color:white; */
    --bs-btn-hover-bg: #0c1765;
    --bs-btn-hover-color: white;
    border-width: 0px;
}

.full-height {
    height: calc(100vh - 56px);
}